<div class="content">
	<div id="me">
		<div>
			<img src="../images/profile3.jpg" alt="" id="photome">	
		</div>
		<div>
			<p>Emmy award-winning television producer with over fifteen years of experience. I earned my master's degree in journalism at Columbia University, with a concentration in documentary production. Since then I have worked in various capacities on various production, both long and short format. And earned two Emmys along the way.</p>
			<p>I recently transitioning from production into technology. Currently I am working as a developer at <a href="https://patch.com" target="_blank"> Patch.com.</p>	
		</div>
	</div>	
</div>
