<div class="content">
	<div id="me">
		<div>
			<img src="../images/profile3.jpg" alt="" id="photome">	
		</div>
		<div>
			<p>Im in marthas vineyard <a href="https://patch.com" target="_blank"> Patch.com.</p>	
		</div>
	</div>	
</div>
