<div class="content">
	<div id="me">
		<img src="../images/profile3.jpg" alt="" id="photome">	
			<p>I’m a seasoned television producer with over fifteen years of experience. I earned my master's degree in journalism at Columbia University, with a concentration in documentary production. Since then I have worked in various capacities on various production, both long and short format. And earned two Emmys along the way.</p>
			<p>An insatiable learner, I recently set my sights on transitioning from production into programming and computer science. I completed a three-month intensive course last summer where I learned the basics as well as Ruby on Rail. This only fueled my interest in technology. And recently I decided to return to graduate school and am currently pursuing a second master’s degree in <a href = "http://www.jjay.cuny.edu/digital-forensics-and-cybersecurity-programs" target="_blank">Digital Forencis and Cybersecurity<a/> at John Jay College of Criminal Justice.</p>
			<p>Recently I’ve been learning Python, and in studying that language, I’ve realized just how much I love coding. I can lose hours learning the functionality and problem solving. Not a day goes by where I’m not sharpening my programming skills and trying something new.</p>
			
	</div>	
</div>
