<div class="content">
	<div id="me">
		<img src="../images/meinant.jpg" alt="" id="photome">	
			<p>
				I’m a New York City based Web Developer and Emmy Award-winning Producer who has done it all. I’ve swum in Antarctic waters (29 degrees!) and bungee jumped off the Kawarua bridge. Watched the Northern Lights dance in the Arctic sky and dove the Great Barrier Reef. Practiced yoga in Mysore and shopped the midnight markets in Marrakech.</p><p>I’m an explorer with an insatiably curious mind and a sharp eye for details. A problem solver who's never encountered a puzzle I couldn't crack.</p><p> I love a good story and asking questions to get the whole picture.</p><p>In 2001 I earned my master’s degree in journalism from Columbia University, with a concentration in documentary production. But always eager to learn, I continued to take classes over the years in accounting, creative writing and even earned my certification to be a doula.</p><p>Recently I completed a twelve-week immersive Web Development Intensive and came out a Full-Stack Ruby Developer, having learn HTML5, CSS, JQuery, JavaScript, Ruby, Sinatra, Ruby on Rails, Github, mobile responsive design, API's and collaborative development.</p>
			</p>
			<br><br>
	</div>	
</div>
