<div class="content">
	<div id="me">
		<img src="../images/profile3.jpg" alt="" id="photome">	
			<p>I’m a seasoned television producer with over fifteen years of experience. I earned my master's degree in journalism at Columbia University, with a concentration in documentary production. Since then I have worked in various capacities on various production, both long and short format. And earned two Emmys along the way.</p>
			<p>An insatiable learner, I recently set my sights on transitioning from production into technology. I completed a three-month intensive course in 2014 where I learned basic coding as well as Ruby on Rail. Currently I am working as a developer at Patch.com, as well as pursing a second master’s degree in <a href = "http://www.jjay.cuny.edu/digital-forensics-and-cybersecurity-programs" target="_blank">Digital Forencis and Cybersecurity<a/> at John Jay College of Criminal Justice.</p>		
	</div>	
</div>
