<div id="content">
	<div id="col1">
		<img id="photome" src="images/meinant.jpg" alt="">
		<p>Antarctica 2012</p>
		<img id="photome" src="images/moroco.jpg" alt="">
		<p>Moroco 2007</p>
	</div>
	<div id="col2">
		<div id="me">
			<p>
				I’m a New York based producer who has done it all. I’ve swum in Antarctic waters (29 degrees!) and bungee jumped off the Kawarua bridge. Watched the Northern Lights dance in the Arctic sky and dove the Great Barrier Reef. Practiced yoga in Mysore and shopped the midnight markets in Marrakech. <br><br>I’m an explorer with an insatiably curious mind and an eye for details. I love a good story and asking the unexpected question to get the whole picture. People and unfamiliar places energize and fascinate me. It’s the reason I’m in this business. <br><br>I earned my master’s degree in journalism from Columbia University, with a concentration in documentary production. From there I transitioned to television. <br><br>Science is one of my greatest passions and I loved making complicated scientific information easily accessible to everyone. But after two seasons at the Dr. Oz Show and two Daytime Emmys, I left the show to pursue freelance work. And dip my toe into producing content for the web. <br><br>Since then I have written, directed, shot and edited numerous projects for both television and the web. The content I produce ranges in length from short format to long, and has been used for commercial, industrial and broadcast use. <br><br>In addition to my video work, I also write fiction and non-fiction. And am currently studying web development.
			</p>
		</div>	
		<br>
		<img id="photome" src="images/northern.jpg" alt="">
		<p id="id">Norway 2012</p>
	</div>
</div>
