<div class="content">
	<div id="video">
		<p>Demo reel...</p>
		<iframe src="http://player.vimeo.com/video/79435098?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p>Clips from <span id="creds"> The Dr. Oz Show</spa>, <span id="creds">Anderson</span>, and <span id="creds">Slate.</span></p>
		</br>
		<p>For more examples of my work: <a id="here" href="http://vimeo.com/carlyrosenberg" target="_blank">http://vimeo.com/carlyrosenberg</a></p>
	</div>
</div>