<div class="content">
	<div id="video">
			<h2>Demo Reel</h2>
			<br><br>
			<iframe src="http://player.vimeo.com/video/79435098?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>