<div id="content">
	<p>Here are a few clips...</p>
	<div id="col1">
		<div id="tv">
			<iframe id="tv" src="http://player.vimeo.com/video/31209858?title=0&amp;byline=0&amp;portrait=0" width="550" height="303" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	
		<div id="tv">
			<iframe id="tv" src="http://player.vimeo.com/video/45659081?title=0&amp;byline=0&amp;portrait=0" width="550" height="309" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div id="tv">
			<iframe src="http://player.vimeo.com/video/79486069?title=0&amp;byline=0&amp;portrait=0" width="550" height="311" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div id="col2">
		<div id="sidebar">
			<p>Content created for:</p>
			<ul>
				<li><a href="http://www.doctoroz.com/" target="_blank">The Dr. Oz Show</a></li>
			</ul>
		</div>
	</div>
</div>