<div class="content">
	<p>Here are a few clips...</p>
	<div id="col1">
		<div class="tv">
			<iframe src="http://player.vimeo.com/video/31209858?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p>Directed and produced for The Dr. Oz Show.</p>
		</div>
		<div class="tv">
			<iframe src="http://player.vimeo.com/video/45659081?title=0&amp;byline=0&amp;portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p>Directed and produced for The Dr. Oz Show.</p>
		</div>
		<div class="tv">
			<iframe src="https://player.vimeo.com/video/79486428" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<p>Wrote, and produced for The Dr. Oz Show.</p>
		</div>
	</div>
</div>