<div class="content">
	<div id="sites">
	<p>Demo websites...</p>
		<div class="grabs">
			<h2>Noted</h2>
			<a href="http://notedd.herokuapp.com/" target="blank">
			<img src="../images/notes.jpg" alt="">
			</a>
			<p>Built with Ruby on Rails, JQuery, and the YouTube API.</p>
		</div>

		<div class="grabs">
			<h2>Flipped</h2>
			<a href="http://flipped.herokuapp.com/" target="blank">
			<img src="../images/bogo.jpg" alt="">
			</a>
			<p>Built with Ruby on Rails, JavaScrip, JQuery, and the Zillow API.</p>
		</div>

		<div class="grabs" id="image">
			<h2>Nomadder</h2>
			<!-- <a href=""> -->
			<img src="../images/nomadder.jpg" alt="">
			<p class="text">Coming Soon...</p>
			</a>
		</div>
	</div>
</div>