<div class="content">
	<div id="sites">
	<p>Samples websites...</p>
		<div class="grabs">
			<h2>Noted</h2>
			<a href="http://notedd.herokuapp.com/" target="blank">
			<img src="../images/notedd.jpg" alt="">
			</a>
		</div>

		<div class="grabs">
			<h2>BOGO</h2>
			<a href="http://bogoo.herokuapp.com/" target="blank">
			<img src="../images/bogo.jpg" alt="">
			</a>
		</div>

		<div class="grabs" id="image">
			<h2>Nomadder</h2>
			<!-- <a href=""> -->
			<img src="../images/nomadder.jpg" alt="">
			<p class="text">Comming Soon...</p>
			</a>
		</div>
	</div>
</div>